.lifestyle-icon {
    height: 200px;
    width: 200px;
    margin: 0px 25px;
}

.dog-pic {
    height: 100%;
    width: 100%;
}

.dog-pic-container {
    padding: 0;
    width: 220px;
    height: 175px;
    top: 70%;
    left: 0;
    bottom: 0px;
    right: 0;
}

.dog-info-container {
    color: black;
}