.lifestyle-icon {
  height: 200px;
  width: 200px;
  margin: 0px 25px;
}

/* Styling for the dog picture container  */
.dog-pic {
  height: 100%;
  width: 100%;
}

.dog-pic-container {
  padding: 0;
  width: 220px;
  height: 175px;
  top: 70%;
  left: 0;
  bottom: 0px;
  right: 0;
}

.dog-info-container {
  color: white;
}

/* Button CSS  */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 3px rgb(63, 63, 63);;
}

.pure-button:hover {
    background-color: #175d8c;
}

.button:active {
    background-color: #175d8c;
    box-shadow: 0 5px rgb(0, 0, 0);
    transform: translateY(4px);
}

  .pure-g [class*=pure-u] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Background images for each page  */
#activeLifestyle-splash {
  background-image: url(../assets/chewy-ScEXB6uxOVc-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
#chillingLifestyle-splash {
  background-image: url(../assets/yogendra-singh-WqFdabDvDeA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#huntingLifestyle-splash {
  background-image: url(../assets/seth-schulte-zYJ9cVjHyZA-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
#serviceAnimal-splash {
  background-image: url(../assets/ralph-ravi-kayden-bjU0FvDuHJA-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
#index-splash {
  background-image: url(../assets/jf-brou-915UJQaxtrk-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.splash-head {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.splash-subhead {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: fantasy;
  color: darkgrey;
}

/* Content Styling  */
.content-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

@media only screen and (max-width: 1300px) {
    .splash-subhead {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
        font-size: 1rem;
        line-height: 1.5;
        font-family: fantasy;
        color: darkgrey;
    }
  }


